@model IEnumerable<ApexSole_Sneakers.Models.AppUser>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Список користувачів</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
               
            </ul>
        </div>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Номер телефону</th>
                    <th>Електронна пошта</th>
                    <th>Роль</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    var isLocked = user.LockoutEnd != null && user.LockoutEnd > DateTime.Now;
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td>
                            <form asp-action="LockUnlock" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@user.Id" />
                                <button type="submit" class="btn btn-warning">
                                    @(isLocked ? "Розблокувати" : "Заблокувати")
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
