@using ApexSole_Sneakers.Data
@model ApexSole_Sneakers.ViewModels.OrderVM
<form method="post">
    <input asp-for="OrderHead.Id" hidden/>
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Зведення замовлення
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Назад до замовлень</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Інформація:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Ім'я</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.Name" type="text"class="form-control"/>
                                    <span asp-validation-for="OrderHead.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Телефон</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.PhoneNumber" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Адреса</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.StreetAddress" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Місто</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.City" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Область</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.State" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Поштовий індекс</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.PostalCode" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Електронна пошта</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.AppUser.Email" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Дата замовлення</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHead.OrderDate.ToShortDateString()" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Перевізник</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.Carrier" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Відстеження</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.TrackingNumber" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHead.TrackingNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Дата доставки</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHead.ShippingDate.ToShortDateString()" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Ідентифікатор сеансу</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.SessionId" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Ідентифікатор наміру платежу</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.PaymentIntentId" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                @if (Model.OrderHead.SessionId == null)
                                {
                                    <div class="col-3">Термін оплати</div>
                                    <div class="col-9">
                                        <input value="@Model.OrderHead.PaymentDueDate.ToShortDateString()" type="text" class="form-control" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-3">Дата платежу</div>
                                    <div class="col-9">
                                        <input value="@Model.OrderHead.PaymentDate.ToShortDateString()" type="text" class="form-control" />
                                    </div>
                                }
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Статус платежу</div>
                                <div class="col-9">
                                    <input asp-for="OrderHead.PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control my-1">Оновити деталі замовлення</button>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Зведення замовлення</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Статус замовлення - @Model.OrderHead.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach (var info in Model.OrderInfo)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@info.Sneakers.SneakersName</h6>
                                                <small class="text-muted">Price : @info.Price.ToString("c")</small><br />
                                                <small class="text-muted">Quantity : @info.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((info.Price*info.Count).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">РАЗОМ </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHead.total.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                                @if (Model.OrderHead.OrderStatus == StatusOfOrder.StatusApproved) {
                                    <button type="submit" asp-action="StartProcessing"
                                            class="btn btn-primary form-control my-1">
                                    Почати обробку
                                    </button>
                                }
                            @if (Model.OrderHead.OrderStatus == StatusOfOrder.StatusInProcess)
                            {
                                <button type="submit" asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-primary form-control my-1">Замовлення на відправку</button>
                                }

                            @if (Model.OrderHead.OrderStatus != StatusOfOrder.StatusRefunded &&
                            Model.OrderHead.OrderStatus != StatusOfOrder.StatusCancelled &&
                            Model.OrderHead.OrderStatus != StatusOfOrder.StatusShipped)
                            {
                                <button asp-action="CancelOrder" type="submit" class="btn btn-danger form-control my-1">Скасувати замовлення</button>
                                }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
